@import url(./style.css);

/*  */
.select2-results__options {
    padding: 16px !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--orange) !important;
    color: white;
    border-radius: 6px;
}
.select2-dropdown {
    background-color: #d7d7d7 !important;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-container--default .select2-selection--single {
    background-color: #ffffff !important;
    border: none !important;
    cursor: text;
    padding: 20px 90px 20px 60px !important;
    width: 100% !important;
    height: 70px !important;
    border-radius: 50px !important;
    outline: none !important;
}
  
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none !important;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__clear {
    display: none !important;
  }
.select2-search--dropdown .select2-search__field {
    padding: 10px !important;
    outline-color: var(--orange) !important;
}
  .select2-container--default .select2-selection--single .select2-selection__rendered {

    color: #706F6F !important;
    font-size: 20px !important;
  }
  
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
  }
  


/* banner section  */
.agences-banner-section {
    background-image: url('../images/agences/agences-banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.agences-banner-section .banner-text-part {
    background: radial-gradient(circle, rgba(255, 255, 255,1) 66%, rgba(255,255,255,0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px;
}

.agences-banner-section .banner-text-part .text-part {
    width: 80%;
}

.agences-banner-section .banner-text-part h2 {
    font-size: 44px;
    font-weight: 700;
    color: var(--orange);
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 3px solid var(--blue);
}

.agences-banner-section .banner-text-part p {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #1D1D1B;
}

/* map-section */

.map-section {
    background-color: #E1E1E1;
    padding: 80px 0;
}

.map-section .text-content {
    padding: 45px;
    background-color: var(--blue);
    color: var(--white);
}

.map-section .text-content h4 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

.map-section .text-content h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.map-section .text-content .text-part {
    margin-top: 24px;
}

.map-section .text-content p {
    font-size: 20px;
    font-weight: 400;
}

.map-section .text-content button {
    border-radius: 100px;
    border: 2px solid var(--white);
    padding: 7px 20px;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.map-section .location-content {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;
}

.map-section .location-content .number-code {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    font-size: 28px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: flex;
}

.map-section .location-content h3 {
    font-size: 32px;
    color: var(--orange);
    font-weight: 700;
}

/* circle-row-strip */
.circle-row-strip {
    background-color: var(--orange);
    padding: 40px 0;
}

.circle-row-strip .circle-design .rank-num {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}

.circle-row-strip .circle-design .rank-text {
    font-size: 20px;
}

.circle-row-strip .circle-design .sub-circle {
    background-color: var(--orange);
}

.circle-row-strip .spacing-line {
    position: relative;
}

.circle-row-strip .spacing-line::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 30px;
    background-color: var(--white);
    top: 72px;
    right: 0px;
    border-radius: 2px;

}

.circle-row-strip.searchbar {
    background-color: var(--orange);
    padding: 40px 0 150px 0;
}

.circle-row-strip.searchbar .reverse .circle-design::after {
    position: absolute;
    content: "";
    background-image: url(../images/my-nita/halfblue_icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: -14px;
    rotate: -90deg;
    top: -14px;
}
.circle-row-strip .row{
    row-gap: 35px;
    display: flex;
    justify-content: center;
}

.searchbar-part {
    background-color: #C5C5C5;
    padding: 60px 0 0;
    margin-bottom: 14px;
}

.searchbar-part .img-part {
    margin-top: -180px;
    margin-left: 86px;
    z-index: 100;
    position: relative;
}

.searchbar-part .input {
    position: relative;
    width: 100% !important;
}


.searchbar-part .input::after {
    position: absolute;
    top: 17px;
    left: 50px;
    content: '';
    width: 1px;
    height: 34px;
    border-left: 1px solid var(--orange);
    z-index: 50;
}

.seacrchbar-icon{
    margin-left: -58px;
    position: relative;
    z-index: 100;
    background-color: transparent;
    border: none;

}

.searchbar-part .input::before {
    border-left: 1px solid var(--orange);
    position: absolute;
    top: 17px;
    right: 70px;
    content: '';
    z-index: 50;
    width: 1px;
    height: 34px;
}



@media screen and (max-width: 991px) {
    .agences-banner-section .banner-text-part .text-part {
        width: 100%;
    }
    .agences-banner-section .banner-text-part p {
        font-size: 20px;
    }
    .agences-banner-section .banner-text-part h2{
        font-size: 32px;
    }
    .agences-banner-section {
        background-position:right;
    }
    .circle-row-strip .spacing-line::after {
        right: -15px;
    }
    .circle-row-strip.searchbar {
        padding: 40px 0 70px 0;
    }
    .searchbar-part .img-part {
        margin-top: -80px;
        margin-left: 60px;
    }
    .map-section .map-location{
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .circle-row-strip .spacing-line::after {
        display: none;
    }
    .searchbar-part {
        padding: 60px 0;
    }
    .searchbar-part .img-part {
        display: none;
    }
    .select2-container--default .select2-selection--single {
        padding: 12px 60px 12px 50px !important;
        height: 55px !important;
    }
    .searchbar-part .input::before {
        top: 14px;
        right: 55px;
        height: 24px;
    }
    .searchbar-part .input::after {
        top: 14px;
        left: 34px;
        height: 24px;
    }
    .seacrchbar-icon img{
        padding-left: 8px;
    }
}

@media screen and (max-width: 520px) {
    .agences-banner-section .banner-text-part {
        background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 66%, rgba(255, 255, 255, 0) 100%);
    }
    .agences-banner-section .banner-text-part p {
        font-size: 16px;
    }
    .agences-banner-section .banner-text-part h2 {
        font-size: 20px;
        border-bottom: 1px solid var(--blue);
    }
    .map-section .location-content h3 {
        font-size: 24px;
    }
    .map-section .location-content .number-code {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }
    .map-section .text-content {
        padding: 20px 12px;
    }
    .map-section .text-content h4 {
        font-size: 28px;
        margin-bottom: 14px;
    }
    .map-section .text-content h5 {
        font-size: 18px;
        margin-bottom: 7px;
    }
    .map-section .text-content p {
        font-size: 16px;
    }
    .map-section {
        padding: 40px 0;
    }
    .circle-row-strip .circle-design .rank-num {
        font-size: 32px;
        margin-bottom: 5px;
    }
    .rank-text {
        font-size: 14px;
    }

    .searchbar-part input {
        padding: 12px 47px 12px 40px;
        font-size: 18px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 16px !important;
    }
    /* .select2-container--default .select2-selection--single .select2-selection__rendered {
        overflow: scroll !important;
    } */
    .select2-container--default .select2-selection--single {
        padding: 12px 59px 12px 42px !important;
        height: 50px !important;
    }
    .searchbar-part {
        margin-bottom: 6px;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        font-size: 12px;
    }
    .select2-results__option--selectable {
        font-size: 12px !important;
    }
    .select2-results__options {
        padding: 10px !important;
    }
}
