@import url(./style.css);





/* faq accordion */

.faq-accordion {
    background-color: #E1E1E1;
    padding: 0px 0px 40px 0;
}

.accordion-heading-text {
    padding: 5px 30px;
    background-color: var(--blue);
    font-size: 45px;
    font-weight: 700;
    color: var(--white);
    width: 50%;
    margin: auto;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.faq-accordion .accordion {
    max-width: 80%;
    margin: auto;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.faq-accordion .accordion .accordion-item {
    background-color: transparent;
    border-radius: 14px !important;
    border: 0;
    margin-bottom: 18px;
}

.faq-accordion .accordion .accordion-item .accordion-header {
    padding: 0px !important;
    margin-bottom: 0px;
    border: 0;
    background-color: transparent;
    font-family: "Aeonik TRIAL";
    font-size: 20px;
    font-weight: 700;

}

.faq-accordion .accordion .accordion-item .accordion-button {
    padding: 14px 80px 14px 25px;
    background-color: #E1E1E1;
    font-size: 24px !important;
    font-weight: 400 !important;
    font-size: "Helvetica" !important;
    border: 2px solid #243980;
    border-radius: 500px !important;
    margin-bottom: 20px;
}

.faq-accordion .accordion .accordion-item .accordion-button div {
    text-align: center;
    color: #243980;
    width: 100%;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 600;
}


.faq-accordion .accordion-body {
    padding: 25px 35px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #243980 !important;
    width: 80%;
    margin: auto;
    background-color: #FFFFFF !important;
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}

.faq-accordion .accordion-button::after {
    width: 30px;
    height: 30px;
    background-position: center;
    background-image: url('../images/my-nita/arrow_icon.svg');
}

.faq-accordion .accordion-button:not(.collapsed)::after {
    background-image: url('../images/my-nita/arrow_icon.svg');
    rotate: 180deg;
}

.faq-accordion .accordion-item .accordion-collapse {
    border-bottom-right-radius: 14px !important;
    border-bottom-left-radius: 14px !important;
}

.faq-accordion .accordion-button:not(.collapsed)::after {
    transform: none !important;
}


.faq-accordion .question-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-accordion .question-part h3 {
    color: #243980;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 14px 0;
}

.faq-accordion .question-part p {
    color: #243980;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.faq-accordion .question-part button {
    background-color: #008036;
    padding: 20px 60px;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.faq-accordion .question-part button img {
    margin-left: 5px;
}

/* transfer page */

.transfer-details {
    background-color: #E1E1E1;
}

.transfer-details .text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.transfer-details .text-part h2 {
    font-size: 45px;
    font-weight: 700;
    color: var(--blue);
}

.transfer-details .text-part p {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.payment-details {
    overflow: hidden;
    padding-top: 50px;
}

.payment-details .feature-part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
}

.payment-details .feature-part .row {
    row-gap: 16px;
}

.payment-details .icon-img {
    border: 2px solid var(--blue);
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-details .icon-img img {
    width: 25px;
    height: 25px;
}

.payment-details .feature-part h6 {
    color: var(--blue);
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    margin-top: 8px;
}

.payment-details .feature-text h4 {
    color: var(--blue);
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
}

.payment-details .advantage-text {
    display: flex;
    margin-top: 35px;
    gap: 20px;
}

.payment-details .advantage-text h3 {
    color: var(--black);
    font-size: 32px;
    font-weight: 700;
}

.payment-details .advantage-text h5 {
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
}


/* ranking-section */
.ranking-section {
    height: 100vh;
    background-image: url(../images/my-nita/bluemesssage_image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 70px;
}

.ranking-section::after {
    position: absolute;
    content: "";
    background-image: url(../images/my-nita/message_icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    top: 10%;
    left: 10%;
}

.ranking-section .application-strip {
    position: absolute;
    bottom: 0px;
    padding: 50px;
    width: 100%;
    background: transparent linear-gradient(90deg, #CF5216 0%, #CF5216FB 16%, #CF5216ED 30%, #CF5216D7 43%, #CF5216B7 56%, #CF52168E 69%, #CF52165C 82%, #CF521621 94%, #CF521600 100%) 0%
}

.ranking-section .application-strip h3 {
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    margin-right: 70px;
}

.ranking-section .application-strip img {
    width: 250px;
    height: 50px;
}

.ranking-right-part {
    display: flex;
    justify-content: end;
    align-items: center;
}

.ranking-section .row {
    width: 450px;
    row-gap: 30px;
    justify-content: center;
}

.bg-circle {
    position: relative;
}

.bg-circle::after {
    position: absolute;
    top: -30%;
    content: "";
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: var(--blue);
    border: 50px solid var(--orange);
    z-index: -1;
}


/* custom-container */
.custom-container {
    width: 67% !important;
}

@media screen and (min-width: 1660px) {
    .container {
        max-width: 1620px !important;
    }
}

@media screen and (max-width: 991px) {
    .custom-container {
        width: 90% !important;
    }

    .custom-container.analytics-button {
        width: 100% !important;
    }

    .transfer-details .text-part {
        padding: 35px 0;
    }

    .bg-circle::after {
        display: none;
    }

    .ranking-section::after {
        position: absolute;
        content: "";
        background-image: url(../images/my-nita/message_icon.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 180px;
        height: 180px;
        top: 7%;
        left: 0%;
    }

    .ranking-right-part {
        justify-content: center;
    }

    .ranking-right-part .main-content {
        display: flex;
        justify-content: center;
    }

    .ranking-section .application-strip {
        padding: 25px;
    }

    .ranking-section .application-strip h3 {
        font-size: 30px;
    }

    .accordion-heading-text {
        width: 75%;
        padding: 10px 30px;
        font-size: 36px;
    }

    .faq-accordion .accordion {
        max-width: 90%;
        margin: auto;
    }

    .faq-accordion .accordion-body {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .accordion-heading-text {
        width: 70%;
        font-size: 32px;
    }

    .faq-accordion .question-part h3 {
        font-size: 36px;
    }

    .faq-accordion .question-part button {
        padding: 16px 50px;
        font-size: 24px;
    }

    .faq-accordion .accordion .accordion-item .accordion-button {
        padding: 14px 25px 14px 25px !important;
    }

    .ranking-section .row {
        width: 100%;
    }

    .payment-details .advantage-text {
        flex-wrap: wrap;
    }

    .payment-details .advantage-text h3 {
        font-size: 28px;
    }

    .payment-details .advantage-text h5 {
        font-size: 18px;
    }

    .ranking-section {
        padding: 165px 0;
        height: auto;
    }
}

@media screen and (max-width: 520px) {
    .accordion-heading-text {
        width: 100%;
        font-size: 24px;
    }

    .ranking-section .application-strip h3 {
        font-size: 14px;
        margin-right: 0px;
    }

    .payment-details .feature-part h6 {
        font-size: 10px;
        width: 100%;
        margin-top: 2px;
    }

    .payment-details .feature-text h4 {
        font-size: 16px;
    }

    .transfer-details .text-part h2 {
        font-size: 32px;
    }

    .ranking-section .application-strip img {
        width: 130px;
        height: 50px;
    }

    .faq-accordion .accordion .accordion-item .accordion-button {
        padding: 5px 15px 5px 5px !important;
        margin-bottom: 10px;
    }

    .faq-accordion .accordion .accordion-item .accordion-button div {
        font-size: 14px;
    }

    .faq-accordion .accordion-body {
        width: 100%;
    }

    .faq-accordion .accordion-body {
        padding: 22px 14px !important;
        font-size: 14px !important;
        width: 100%;
        border-bottom-right-radius: 18px !important;
        border-bottom-left-radius: 18px !important;
    }

    .faq-accordion .question-part p {
        font-size: 18px;
    }

    .faq-accordion .question-part h3 {
        font-size: 26px;
    }

    .faq-accordion .question-part button {
        padding: 10px 28px;
        font-size: 20px;
    }
    .ranking-section::after {
        width: 150px;
        height: 150px;
        top: 0%;
    }
}



@media screen and (max-width: 1550px) {
    .container {
        max-width: 92% !important;
    }

    .custom-container {
        width: 80% !important;
    }

    .bg-circle::after {
        left: -60px;
    }
}

@media screen and (max-width: 797px) {
    .container {
        max-width: 100% !important;
    }

    .custom-container {
        width: 97% !important;
    }
}